body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    max-width: 480px;
}

.display {
    padding: 50px;
    font-size: 36px;
}

.buttons {
    display: flex;
}

button {
    flex-basis: 33%;
    padding: 10px 20px;
    font-size: 16px;
}

.container-operators-buttons {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.clear-button {
    flex-basis: 100%;
}

#btn0 {
    flex-basis: 66%;
}

.container-number-buttons {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
}